# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Databases
db.sqlite3

# Django-specific
local_settings.py
media/
staticfiles/

# Logs
*.log

# OS & IDE specific
.DS_Store
.vscode/
.idea/
